@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: #141115;
  --secondary-color: #363038;
  --tertiary-color: #3f3c40;
  --font-color-primary: #1C0221;
  --color-light: #dddddd;
  --color-medium: #1c254c;
  --body-font: "Roboto", sas-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --font-size-normal: .95rem;
  --font-size-small: .82rem;
  --font-size-smaller: .75rem;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--font-small);
}

body {
  color: var(--color-light);
  background-color: var(--primary-color);
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  gap: 3rem;
}

footer {
  height: 120px;
}

button {
  border: none;
  outline: none;
}

h1, h2, h3 {
  color: var(--color-light);
}

.nav {
  position: fixed;
  left: 0;
  bottom: 1.5rem;
  right: 0;
  width: 85%;
  padding: 1rem 2rem;
  border-radius: 4rem;
  background-color: var(--tertiary-color);
  margin: 0 auto;
  z-index: 2;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_link {
  display: grid;
  place-items: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 50%;
  color: var(--color-light);
  transition: background-color .2s ease-in-out;
}

.nav_link:hover {
  background-color: #6d6d6d;
}

.profil_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0 0;
}

.skill-wrapper,
.contact-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.logo {
  width: 3rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 300px;
  padding: 1.5rem;
  border-radius: 2rem;
  background-color: var(--secondary-color);
}

.profil {
  width: 100%;
  height: auto;
  border-radius: 2rem;
}

.h1_wrapper {
  position: absolute;
  bottom: 2.2%;
  width: 95%;
  height: auto;
  padding: 1.25rem;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 2rem;
  color: var(--color-medium);
  font-weight: 400;
  background-color: rgba(255, 255, 255, .05);
  backdrop-filter: blur(10px);
}

.h1_wrapper h1 {
  color: var(--color-medium);
  text-align: left;
  font-weight: 400;
}